.mines-grid {
  display: flex;
  flex-direction: column;
}

.mines-row {

  display: flex;
  flex-direction: row;
}

.mines-field {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.mines-field.closed {
  background: #aaaaaa;
}
