<div class="mines-grid" [class.game-over]="game.state == GAME_STATE.LOSE">
  <div class="mines-row" *ngFor="let row of game.grid; let i=index">
    <ng-container *ngFor="let field of row; let j=index">
      <div class="mines-field open" [class]="'num-'+field.num" *ngIf="field.state == STATE.OPEN"
           (contextmenu)="onContextMenu($event,game, i,j)"
      >
        {{field.hasBomb ? '💥' : (field.num || '')}}
      </div>
      <div class="mines-field closed"
           *ngIf="field.state == STATE.CLOSED && game.state"
           (click)="onClickHandler(game,i,j)"
           (contextmenu)="onContextMenu($event,game, i,j)"
      >
        {{game.state == GAME_STATE.LOSE && field.hasBomb ? '💣' : ''}}
      </div>
      <div class="mines-field flag" [class.bomb]="field.hasBomb"
           *ngIf="field.state == STATE.FLAGGED" (contextmenu)="onContextMenu($event,game, i,j)">
        {{'🚩'}}
      </div>
    </ng-container>
  </div>
  {{game.state}}
</div>
